.container {
    width: 100%;
    border-radius: 6px;
    border: 1px solid var(--border);
    padding: 12px;
}

.title {
    font-family: 'Noto Sans';
    font-size: 20px;
    font-weight: 500;
    color: var(--primary);
    margin-block: 10px;
}

.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 14px;
    background: var(--elements);
    // border: 1px solid var(--border);
    border-radius: 8px;
    overflow: hidden;

    th, td {
        font-family: 'Noto Sans';
        font-weight: 500;
        padding: 10px 12px;
        text-align: right;
        border: 1px solid var(--border);
    }

    th {
        background-color: var(--elements);
        font-family: 'Noto Sans';
        font-weight: 500;
        color: var(--third);
        text-align: center;
        border-radius: 10px;
        &:first-child {
            text-align: left;
        }
    }
    
    td {
        color:var(--primary);
        &:first-child {
            text-align: left;
            font-family: 'Noto Sans';
            font-weight: 500;
        }
    }

    .error {
        // background-color: #ffe0e0;
        font-family: 'Noto Sans';
        color: #ff9898;
        // font-style: italic;
        font-weight: 500;
        text-align: center;
    }
}
.button-wrapper{
    display: flex;
    width: 100%;
    padding-block: 20px;
    align-items: center;
    justify-content: flex-end;
}