.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}
.group-row{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
}
.group-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    gap: 20px;
    width: 100%;
    overflow-y: scroll;
}

@media(max-width: 600px){
    .group-row{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}