.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px;
    gap: 10px;
    width: 100%;
    height: 100%;
    border: 1px solid var(--border);
    border-radius: 6px;
    margin-right: 20px;

    h3{
        margin-block: 10px;
        font-family: 'Noto Sans';
        font-size: 20px;
        font-weight: 500;
        color: var(--primary);
        margin-bottom: 10px;
    }
}
.error-message{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 10px 4px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #341e1e;
    background:  #ff9898;
}